<h1>Login Page</h1>


<h2>Login Form Values:</h2>
<!-- We render the Login Form Values with an Angular Pipe called JSON -->

<!--
  loginForm.value -> {username: "admin", password: "admin"}
  Pipe JSON -> { "username": "admin", "password": "admin"}
 -->


<p>{{ loginForm.value | json }}</p>

<!-- We create our Form that will have a FormGrup assigned -->
<form [formGroup]="loginForm" (submit)="login()">

  <mat-form-field>
    <input matInput formControlName="username" />
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="password" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    Login
  </button>

  <button mat-raised-button color="warning" [routerLink]="['/register']"> Create an account </button>

</form>


